# cache
__pycache__/
*.py[cod]
*.pyo

# virtual environment
venv/
env/

# environment variables
.env

# IDE settings
.vscode/
.idea/

# macOS metadata
.DS_Store

# large files
*.mp4
*.wav
*.mp3
*.zip
*.pt
*.pkl
